body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#card .dog-img {
    width: 100%;
}

#card {
    position: relative;
    width: 100%;
}

.dog-info {
    position: absolute;
    color: white;
    bottom: 10px;
    left: 10px;
}


